<sk-fading-circle [isRunning]="MostrarSpinningIcon" [delay]="0">
</sk-fading-circle>

  <ngb-tabset type="pills">
    <ngb-tab title="Deudas del mes">
      <template ngbTabContent>
        <deudasMes [GastosMensualesPorMes]="PlanillaGastosMensuales.GastosMensualesPorMes"> </deudasMes>
      </template> 
    </ngb-tab>
    <ngb-tab title="Calendario">
      <template ngbTabContent>
        <calendario [PagosPorConcepto] = "PagosPorConcepto"></calendario>
      </template>
    </ngb-tab>
  </ngb-tabset>

