.gm-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.gm-loading {
    overflow: hidden;   
}

body.gm-loading .gm-modal  {
    display: block;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #6D929B;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url('../img/bg_header.jpg') no-repeat;
}

.gm-nextPreviousButton {
    vertical-align:top
}  