
.gm-PagoRealizado {
    background: #66ff66;
    color: #000000;
}

.gm-PagoAnualRealizado {
    background: #99ffff;
    color: #000000;
}

.gm-btunUploadComprobantePago{
    }

.gm-mesButton {
    vertical-align:top
}    